* {
	margin: 0;
	padding: 0;
}
header {
	height: 20px;
	background-color: green;
}
.logo {
	padding: 0.5%;
	width: 16%;
	height: 55px;
}
.formSearch {
	margin-left: 70%;
	padding-right: 3%;
	line-height: 1%;
}
.formSearch input {
	padding: 1%;
}
nav {
	height: 45px;
	background-color: green;
}
nav ul {
	padding-left: 17%;
}
nav ul li {
	display: inline-block;
	line-height: 85%;
	padding: 0 15px 0;
	border-right: 0.5px solid #ecf0f1;
}
nav ul li a {
	text-decoration: none;
	color: white;
	font-family: "Gill Sans","Gill Sans MT", Calibri,sans-serif;
	font-size: 125%;
}
#container {
	width: auto;
	height: auto;
	margin: 0 0.5% 0;
}
#sidebar {
	float: left;
	width: 14%;
	height: 600px;
	background-color: #22313F;
}
.category-head {
	background-color: #34495e;
	color: white;
	text-align: center;
	font-size: 70%;
	font-family: "Arial Narrow",Calibri,sans-serif;
	padding: 6px;
	border-bottom: 1px solid white;
}
.category-head a {
	text-decoration: underline;
	color: white;
}
#content {
	float: left;
	width: 72%;
	height: 590px;
	background-color: #ecf0f1;
	border: 2px solid #22313F;
	border-radius: 5px;
	margin: 0.5%;

}
#ads {
	float: left;
	width: 12%;
	height: auto;
}
.img-ads {
	width: 100%;
	height: 600px;
}
/* FOOTER */
footer {
	clear: both;
	height: 220px;
	background-color: #22313F;
}
.footer-list {
	margin-left: 6%;
}
.footer-list ul {
	color: white;
	font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
	font-size: 120%;
	margin: 1.5%;
	margin-left: 2%;
	margin-top: 2%;
	list-style-type: none;
	float: left;
}
.footer-list ul li {
	padding: 5px;
}
.footer-list ul li:first-child {
	margin-bottom: auto;
}
.footer-list ul li a {
	color: white;
}
.footer-list ul li img {
	float: left;
	margin-left: 2px;
	width: 48px;
	height: 48px;
}
.copyright {
	color: white;
	clear: both;
	text-align: center;
	font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
	font-size: 125%;
}
/* REGISTRATION PAGE */
.register-box {
	float: left;
	
	width: 98.5%;
}
.register-box h2 {
	font-family: "Franklin Gothic Medium","Franklin Gothic","ITC Franklin Gothic",Arial,sans-serif;
	margin: 0.5%;
	margin-left: 5%;
	margin-bottom: 2%;
	font-size: 230%;
}
.register-box form {
	margin-left: 4%;
	font-style: italic;
	font-family: Futura,"Trebuchet MS",Arial,sans-serif;
}
.register-box input, select {
	margin-left: 0.5%;
	margin-bottom: 1%;
	padding: 0.3%;
	font-size: 100%;
}
.register-box input[type="submit"] {
	padding: 2%;
	font-style: italic;
	font-family: Futura,"Trebuchet MS",Arial,sans-serif;
	margin-left: 1.5%;
}

/* LOGIN PAGE */
.login-box {
	padding: 8%;
	font-style: italic;
	font-family: Futura,"Trebuchet MS",Arial,sans-serif;
}
.login-box label, input {
	margin-left: 0.5%;
	margin-bottom: 1%;
	padding: 0.3%;
	font-size: 100%;
}
.login-box input[type="submit"], input[type="reset"] {
	padding: 1%;
	font-style: italic;
	font-family: Futura,"Trebuchet MS",Arial,sans-serif;
	margin-left: 1.5%;
}

/* MY ACCOUNT PAGE */
.account-box {
	padding: 8%;
	font-style: italic;
	font-family: Futura,"Trebuchet MS",Arial,sans-serif;
}
.account-box a {
	display: block;
	padding: 5px;
}
.icon{
	padding:5px;
	width: 24px;
	height: 24px;
	background-color: #22313F;
}


